<h1 class="title s-center m-right lg-left">Learn Forms</h1>
<hr/>

<h2>Tareas a realizar para el día {{today | date:'fullDate'}}</h2>

<form [formGroup]="form" (ngSubmit)="putInList()">
  <label for="tarea">Tarea</label>
  <br>
  <input formControlName="tarea" name ="tarea" type="text">

  <button type="submit">Añadir</button>
</form>

<ul>

  <div *ngFor="let task of tasks, index as i" >

    <li (click)="cross(i)" [ngClass]="task.done? 'tachado' : 'noTachado'" >
      {{task.name}}  <button (click)="delete(i)" class="btn"><i class="fa fa-times"></i></button></li>
  </div>
</ul>
